**导入基础包**

In [2]:
#packages
import pandas as pd
import numpy as np

from pylab import plt
plt.style.use('seaborn')
%matplotlib inline

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

**读取数据**

备注：数据比较大，数据读取比较慢，需要很长时间。

In [3]:
df=pd.read_excel('GWMC_16S_otutab_resampled_taxa.xlsx')

In [4]:
df.head()

,OTU,Domain,Phylum,Class,Order,Family,Genus,Species,SAKR1,SAKR2,...,UYUM03,UYUM04,UYUM05,UYUM06,UYUM07,UYUM08,UYUM09,UYUM10,UYUM11,UYUM12
0,OTU_40,Bacteria,Proteobacteria,Gammaproteobacteria,Burkholderiales,Comamonadaceae,Hydrogenophaga,Unclassified,10,9,...,18,20,11,29,28,14,8,25,16,26
1,OTU_12,Bacteria,Proteobacteria,Gammaproteobacteria,Pseudomonadales,Moraxellaceae,[Agitococcus] lubricus group,Unclassified,16,8,...,7,6,3,6,3,0,3,4,8,4
2,OTU_1998,Bacteria,Verrucomicrobiota,Verrucomicrobiae,Pedosphaerales,Pedosphaeraceae,Unclassified,metagenome,4,2,...,0,0,0,0,0,0,0,0,0,0
3,OTU_318,Bacteria,Proteobacteria,Gammaproteobacteria,Run-SP154,metagenome,Unclassified,Unclassified,0,0,...,0,0,0,0,0,0,0,0,0,0
4,OTU_1132,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Rikenellaceae,Unclassified,Unclassified,0,0,...,1,3,0,3,1,4,0,1,1,2

读取另外一个文件，这个文件做过处理，只放了ID和features，其他都删除了

In [5]:
sdf = pd.read_excel('sample1.xlsx')

In [6]:
sdf.head()

  Sample ID  Sampling month average  Sampling month  SRTd     COD  NH4N   TP
0     SAKR1                    18.0            55.0  12.0  771.97  61.4  7.2
1     SAKR2                    18.0            55.0  12.0  771.97  61.4  7.2
2     SAKR3                    18.0            55.0  12.0  771.97  61.4  7.2
3     SAKR4                    18.0            55.0  12.0  771.97  61.4  7.2
4     SAKR5                    18.0            55.0  12.0  771.97  61.4  7.2

**数据处理**

In [7]:
df.shape

(61448, 1194)

In [8]:
df['sum'] = df.sum(axis=1)

In [9]:
df['sum'].head(10)

0     97243
1    250940
2       984
3     11071
4      1698
5     67167
6     33462
7     35477
8     11819
9     42414
Name: sum, dtype: int64

尝试剔除所有行的和为0的情况

In [10]:
df1 = df[ df['sum']> 0 ]

In [11]:
df1.shape

(61448, 1195)

好像做不到通过0来减少分类

**显示分类的总数**

In [12]:
df2 = df['Class'].value_counts().sort_values(ascending=False)
df2.shape

(202,)

In [13]:
df2.head(20)

Gammaproteobacteria    8316
Bacteroidia            7929
Unclassified           6302
Alphaproteobacteria    6117
Clostridia             2427
Anaerolineae           2364
Parcubacteria          2167
Polyangia              2006
Planctomycetes         1824
Verrucomicrobiae       1355
Bdellovibrionia        1239
Chlamydiae             1222
Oligoflexia            1146
Phycisphaerae          1025
Gracilibacteria         906
Actinobacteria          820
Bacilli                 741
Microgenomatia          705
Babeliae                688
ABY1                    671
Name: Class, dtype: int64

In [14]:
total = df2.sum()
total

61448

In [15]:
percent = df2/total
percent.head(20)

Gammaproteobacteria    0.135334
Bacteroidia            0.129036
Unclassified           0.102558
Alphaproteobacteria    0.099548
Clostridia             0.039497
Anaerolineae           0.038472
Parcubacteria          0.035266
Polyangia              0.032645
Planctomycetes         0.029684
Verrucomicrobiae       0.022051
Bdellovibrionia        0.020163
Chlamydiae             0.019887
Oligoflexia            0.018650
Phycisphaerae          0.016681
Gracilibacteria        0.014744
Actinobacteria         0.013345
Bacilli                0.012059
Microgenomatia         0.011473
Babeliae               0.011196
ABY1                   0.010920
Name: Class, dtype: float64

In [16]:
percent.head(20).sum()

0.8132079156359848

In [17]:
percent.head(30).sum()

0.8799309985678949

In [18]:
percent.head(50).sum()

0.943968884259862

前面50个类的总概率差不多到了95%，所以可以用前面50个类的数据做预测。如果需要增加类，也可以类似的代码来增加。

In [19]:
df3 = pd.DataFrame(percent.head(50)).T
df3.columns

Index(['Gammaproteobacteria', 'Bacteroidia', 'Unclassified',
       'Alphaproteobacteria', 'Clostridia', 'Anaerolineae', 'Parcubacteria',
       'Polyangia', 'Planctomycetes', 'Verrucomicrobiae', 'Bdellovibrionia',
       'Chlamydiae', 'Oligoflexia', 'Phycisphaerae', 'Gracilibacteria',
       'Actinobacteria', 'Bacilli', 'Microgenomatia', 'Babeliae', 'ABY1',
       'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia', 'Cyanobacteriia',
       'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia', 'Thermoleophilia',
       'Blastocatellia', 'OM190', 'Spirochaetia', 'Nitrospiria',
       'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria', 'Desulfuromonadia',
       'Campylobacteria', 'Gemmatimonadetes', 'Vicinamibacteria',
       'Fimbriimonadia', 'Vampirivibrionia', 'Desulfovibrionia',
       'Negativicutes', 'Leptospirae', 'Holophagae', 'metagenome',
       'Kapabacteria', 'Lineage IIb', 'Desulfobacteria', 'Hydrogenedentia'],
      dtype='object')

In [20]:
df4 = df.copy()

In [21]:
df4.shape

(61448, 1195)

In [22]:
len(df4)

61448

把50名之后的类定义为Others

In [24]:
for i in range (0,61448):
    if df4['Class'][i] not in df3.columns:
        df4['Class'][i] = 'Others'

In [25]:
df4['Class'][1]

'Gammaproteobacteria'

In [26]:
df4['Class'].value_counts().sort_values(ascending=False)

Gammaproteobacteria    8316
Bacteroidia            7929
Unclassified           6302
Alphaproteobacteria    6117
Others                 3443
Clostridia             2427
Anaerolineae           2364
Parcubacteria          2167
Polyangia              2006
Planctomycetes         1824
Verrucomicrobiae       1355
Bdellovibrionia        1239
Chlamydiae             1222
Oligoflexia            1146
Phycisphaerae          1025
Gracilibacteria         906
Actinobacteria          820
Bacilli                 741
Microgenomatia          705
Babeliae                688
ABY1                    671
Saccharimonadia         492
Acidimicrobiia          488
Omnitrophia             461
Cyanobacteriia          429
Acidobacteriae          410
Myxococcia              381
Nanoarchaeia            379
Thermoleophilia         360
Blastocatellia          354
OM190                   346
Spirochaetia            302
Nitrospiria             281
Chloroflexia            268
Kiritimatiellae         247
Ignavibacteria          230
Desulfuromonadia        227
Campylobacteria         224
Gemmatimonadetes        211
Vicinamibacteria        201
Fimbriimonadia          198
Vampirivibrionia        186
Desulfovibrionia        172
Negativicutes           159
Holophagae              157
Leptospirae             157
metagenome              153
Kapabacteria            148
Lineage IIb             145
Desulfobacteria         144
Hydrogenedentia         125
Name: Class, dtype: int64

In [27]:
targets = pd.DataFrame(df4['Class'].value_counts().sort_values(ascending=False)).T.columns
targets

Index(['Gammaproteobacteria', 'Bacteroidia', 'Unclassified',
       'Alphaproteobacteria', 'Others', 'Clostridia', 'Anaerolineae',
       'Parcubacteria', 'Polyangia', 'Planctomycetes', 'Verrucomicrobiae',
       'Bdellovibrionia', 'Chlamydiae', 'Oligoflexia', 'Phycisphaerae',
       'Gracilibacteria', 'Actinobacteria', 'Bacilli', 'Microgenomatia',
       'Babeliae', 'ABY1', 'Saccharimonadia', 'Acidimicrobiia', 'Omnitrophia',
       'Cyanobacteriia', 'Acidobacteriae', 'Myxococcia', 'Nanoarchaeia',
       'Thermoleophilia', 'Blastocatellia', 'OM190', 'Spirochaetia',
       'Nitrospiria', 'Chloroflexia', 'Kiritimatiellae', 'Ignavibacteria',
       'Desulfuromonadia', 'Campylobacteria', 'Gemmatimonadetes',
       'Vicinamibacteria', 'Fimbriimonadia', 'Vampirivibrionia',
       'Desulfovibrionia', 'Negativicutes', 'Holophagae', 'Leptospirae',
       'metagenome', 'Kapabacteria', 'Lineage IIb', 'Desulfobacteria',
       'Hydrogenedentia'],
      dtype='object')

**处理第一个样本的目标分类**

对应的是SARK1部分的数据，这部分代码的目的是用来调试和测试。这部分代码要是通顺了，可以通过循环，来处理所有的数据。

In [28]:
for i in targets:
    sdf[i] = None

In [29]:
sdf.head()

,Sample ID,Sampling month average,Sampling month,SRTd,COD,NH4N,TP,Gammaproteobacteria,Bacteroidia,Unclassified,...,Vampirivibrionia,Desulfovibrionia,Negativicutes,Holophagae,Leptospirae,metagenome,Kapabacteria,Lineage IIb,Desulfobacteria,Hydrogenedentia
0,SAKR1,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,SAKR2,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,SAKR3,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,SAKR4,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,SAKR5,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [30]:
temp = df4[['Class','SAKR1']]
temp.head()

                 Class  SAKR1
0  Gammaproteobacteria     10
1  Gammaproteobacteria     16
2     Verrucomicrobiae      4
3  Gammaproteobacteria      0
4          Bacteroidia      0

In [31]:
temp2 = df4[['Class']]

In [32]:
total = temp['SAKR1'].sum()
total

25600

In [33]:
temp = temp.groupby('Class').sum()
temp

                     SAKR1
Class
ABY1                    66
Acidimicrobiia          17
Acidobacteriae         129
Actinobacteria          57
Alphaproteobacteria   1222
Anaerolineae           443
Babeliae                45
Bacilli                 32
Bacteroidia           5745
Bdellovibrionia        449
Blastocatellia         774
Campylobacteria         36
Chlamydiae              66
Chloroflexia            29
Clostridia              97
Cyanobacteriia           3
Desulfobacteria          1
Desulfovibrionia        21
Desulfuromonadia        32
Fimbriimonadia         188
Gammaproteobacteria   9097
Gemmatimonadetes       105
Gracilibacteria        106
Holophagae              15
Hydrogenedentia         26
Ignavibacteria        1913
Kapabacteria            15
Kiritimatiellae         24
Leptospirae             37
Lineage IIb             66
Microgenomatia          20
Myxococcia              63
Nanoarchaeia             6
Negativicutes            7
Nitrospiria            556
OM190                   65
Oligoflexia            188
Omnitrophia             14
Others                 437
Parcubacteria          455
Phycisphaerae          170
Planctomycetes         629
Polyangia              555
Saccharimonadia        263
Spirochaetia             3
Thermoleophilia          5
Unclassified           605
Vampirivibrionia        14
Verrucomicrobiae       438
Vicinamibacteria        57
metagenome             194

In [34]:
percent = (temp/total)*100
percent

                         SAKR1
Class
ABY1                  0.257812
Acidimicrobiia        0.066406
Acidobacteriae        0.503906
Actinobacteria        0.222656
Alphaproteobacteria   4.773438
Anaerolineae          1.730469
Babeliae              0.175781
Bacilli               0.125000
Bacteroidia          22.441406
Bdellovibrionia       1.753906
Blastocatellia        3.023438
Campylobacteria       0.140625
Chlamydiae            0.257812
Chloroflexia          0.113281
Clostridia            0.378906
Cyanobacteriia        0.011719
Desulfobacteria       0.003906
Desulfovibrionia      0.082031
Desulfuromonadia      0.125000
Fimbriimonadia        0.734375
Gammaproteobacteria  35.535156
Gemmatimonadetes      0.410156
Gracilibacteria       0.414062
Holophagae            0.058594
Hydrogenedentia       0.101562
Ignavibacteria        7.472656
Kapabacteria          0.058594
Kiritimatiellae       0.093750
Leptospirae           0.144531
Lineage IIb           0.257812
Microgenomatia        0.078125
Myxococcia            0.246094
Nanoarchaeia          0.023438
Negativicutes         0.027344
Nitrospiria           2.171875
OM190                 0.253906
Oligoflexia           0.734375
Omnitrophia           0.054688
Others                1.707031
Parcubacteria         1.777344
Phycisphaerae         0.664062
Planctomycetes        2.457031
Polyangia             2.167969
Saccharimonadia       1.027344
Spirochaetia          0.011719
Thermoleophilia       0.019531
Unclassified          2.363281
Vampirivibrionia      0.054688
Verrucomicrobiae      1.710938
Vicinamibacteria      0.222656
metagenome            0.757812

In [35]:
percent.T

Class,ABY1,Acidimicrobiia,Acidobacteriae,Actinobacteria,Alphaproteobacteria,Anaerolineae,Babeliae,Bacilli,Bacteroidia,Bdellovibrionia,...,Planctomycetes,Polyangia,Saccharimonadia,Spirochaetia,Thermoleophilia,Unclassified,Vampirivibrionia,Verrucomicrobiae,Vicinamibacteria,metagenome
SAKR1,0.257812,0.066406,0.503906,0.222656,4.773438,1.730469,0.175781,0.125,22.441406,1.753906,...,2.457031,2.167969,1.027344,0.011719,0.019531,2.363281,0.054688,1.710938,0.222656,0.757812

In [36]:
for i in targets:
    sdf[i].iloc[0] = percent.T[i].iloc[0]

In [37]:
sdf.head()

,Sample ID,Sampling month average,Sampling month,SRTd,COD,NH4N,TP,Gammaproteobacteria,Bacteroidia,Unclassified,...,Vampirivibrionia,Desulfovibrionia,Negativicutes,Holophagae,Leptospirae,metagenome,Kapabacteria,Lineage IIb,Desulfobacteria,Hydrogenedentia
0,SAKR1,18.0,55.0,12.0,771.97,61.4,7.2,35.535156,22.441406,2.363281,...,0.054688,0.082031,0.027344,0.058594,0.144531,0.757812,0.058594,0.257812,0.003906,0.101562
1,SAKR2,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,SAKR3,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,SAKR4,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,SAKR5,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [38]:
id = sdf['Sample ID'][0]
id

'SAKR1'

In [39]:
df4[['Class',id]].head()

                 Class  SAKR1
0  Gammaproteobacteria     10
1  Gammaproteobacteria     16
2     Verrucomicrobiae      4
3  Gammaproteobacteria      0
4          Bacteroidia      0

**通过循环，处理所有数据**

逐行处理数据，对每一行的的数据，统计每个分类的概率，然后转置，和fetures并列放到一个dataframe.

这里先对前面5行处理，作为测试。

In [40]:
#for L in range(0,len(sdf)):
for L in range(0,5):
    id = sdf['Sample ID'][L]
    temp2 = df4[['Class',id]]
    total = temp2[id].sum()
    temp3 = temp2.groupby('Class').sum()
    percent = (temp3/total)*100
    
    for i in targets:
        sdf[i].iloc[L] = percent.T[i].iloc[0]

In [41]:
sdf.head(10)

,Sample ID,Sampling month average,Sampling month,SRTd,COD,NH4N,TP,Gammaproteobacteria,Bacteroidia,Unclassified,...,Vampirivibrionia,Desulfovibrionia,Negativicutes,Holophagae,Leptospirae,metagenome,Kapabacteria,Lineage IIb,Desulfobacteria,Hydrogenedentia
0,SAKR1,18.0,55.0,12.0,771.97,61.4,7.2,35.535156,22.441406,2.363281,...,0.054688,0.082031,0.027344,0.058594,0.144531,0.757812,0.058594,0.257812,0.003906,0.101562
1,SAKR2,18.0,55.0,12.0,771.97,61.4,7.2,32.203125,23.753906,2.660156,...,0.035156,0.101562,0.023438,0.105469,0.160156,0.941406,0.066406,0.214844,0.003906,0.085938
2,SAKR3,18.0,55.0,12.0,771.97,61.4,7.2,31.246094,24.363281,2.566406,...,0.035156,0.054688,0.046875,0.054688,0.167969,0.917969,0.042969,0.246094,0.0,0.101562
3,SAKR4,18.0,55.0,12.0,771.97,61.4,7.2,34.714844,23.082031,2.410156,...,0.042969,0.0625,0.066406,0.078125,0.171875,0.8125,0.078125,0.222656,0.015625,0.101562
4,SAKR5,18.0,55.0,12.0,771.97,61.4,7.2,30.414062,24.949219,2.503906,...,0.039062,0.054688,0.035156,0.058594,0.226562,0.902344,0.070312,0.265625,0.0,0.121094
5,SAKR6,18.0,55.0,12.0,771.97,61.4,7.2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,SASC1,18.0,55.0,25.0,969.00,89.1,15.1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,SASC2,18.0,55.0,25.0,969.00,89.1,15.1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,SASC3,18.0,55.0,25.0,969.00,89.1,15.1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,SASC4,18.0,55.0,25.0,969.00,89.1,15.1,None,None,None,...,None,None,None,None,None,None,None,None,None,None

对所有数据处理

In [42]:
for L in range(0,len(sdf)):
    id = sdf['Sample ID'][L]
    temp2 = df4[['Class',id]]
    total = temp2[id].sum()
    temp3 = temp2.groupby('Class').sum()
    percent = (temp3/total)*100
    
    for i in targets:
        sdf[i].iloc[L] = percent.T[i].iloc[0]

In [43]:
sdf.head(20)

,Sample ID,Sampling month average,Sampling month,SRTd,COD,NH4N,TP,Gammaproteobacteria,Bacteroidia,Unclassified,...,Vampirivibrionia,Desulfovibrionia,Negativicutes,Holophagae,Leptospirae,metagenome,Kapabacteria,Lineage IIb,Desulfobacteria,Hydrogenedentia
0,SAKR1,18.0,55.0,12.0,771.97,61.40,7.20,35.535156,22.441406,2.363281,...,0.054688,0.082031,0.027344,0.058594,0.144531,0.757812,0.058594,0.257812,0.003906,0.101562
1,SAKR2,18.0,55.0,12.0,771.97,61.40,7.20,32.203125,23.753906,2.660156,...,0.035156,0.101562,0.023438,0.105469,0.160156,0.941406,0.066406,0.214844,0.003906,0.085938
2,SAKR3,18.0,55.0,12.0,771.97,61.40,7.20,31.246094,24.363281,2.566406,...,0.035156,0.054688,0.046875,0.054688,0.167969,0.917969,0.042969,0.246094,0.0,0.101562
3,SAKR4,18.0,55.0,12.0,771.97,61.40,7.20,34.714844,23.082031,2.410156,...,0.042969,0.0625,0.066406,0.078125,0.171875,0.8125,0.078125,0.222656,0.015625,0.101562
4,SAKR5,18.0,55.0,12.0,771.97,61.40,7.20,30.414062,24.949219,2.503906,...,0.039062,0.054688,0.035156,0.058594,0.226562,0.902344,0.070312,0.265625,0.0,0.121094
5,SAKR6,18.0,55.0,12.0,771.97,61.40,7.20,32.667969,24.445312,2.441406,...,0.015625,0.109375,0.058594,0.199219,0.164062,0.746094,0.089844,0.226562,0.027344,0.085938
6,SASC1,18.0,55.0,25.0,969.00,89.10,15.10,22.832031,27.308594,5.742188,...,0.246094,0.078125,0.039062,0.296875,0.28125,0.25,0.355469,0.171875,0.003906,0.035156
7,SASC2,18.0,55.0,25.0,969.00,89.10,15.10,23.386719,28.066406,5.375,...,0.21875,0.058594,0.101562,0.289062,0.273438,0.207031,0.308594,0.128906,0.003906,0.035156
8,SASC3,18.0,55.0,25.0,969.00,89.10,15.10,22.636719,27.277344,5.683594,...,0.175781,0.039062,0.046875,0.300781,0.359375,0.273438,0.242188,0.183594,0.007812,0.058594
9,SASC4,18.0,55.0,25.0,969.00,89.10,15.10,22.945312,27.894531,5.875,...,0.207031,0.046875,0.082031,0.332031,0.375,0.238281,0.367188,0.222656,0.007812,0.039062
10,SASC5,18.0,55.0,25.0,969.00,89.10,15.10,22.304688,27.597656,5.769531,...,0.214844,0.050781,0.070312,0.292969,0.316406,0.285156,0.359375,0.183594,0.011719,0.054688
11,SASC6,18.0,55.0,25.0,969.00,89.10,15.10,21.539062,27.820312,6.179688,...,0.246094,0.039062,0.0625,0.246094,0.34375,0.300781,0.316406,0.195312,0.0,0.019531
12,SAKB1,18.0,70.0,28.0,697.00,18.69,3.87,24.382812,35.09375,0.910156,...,0.0625,0.214844,0.144531,0.539062,0.0625,0.445312,1.46875,0.238281,0.105469,0.011719
13,SAKB2,18.0,70.0,28.0,697.00,18.69,3.87,25.824219,34.851562,0.902344,...,0.0625,0.21875,0.113281,0.464844,0.050781,0.367188,1.410156,0.179688,0.09375,0.015625
14,SAKB3,18.0,70.0,28.0,697.00,18.69,3.87,24.574219,35.605469,0.894531,...,0.054688,0.207031,0.085938,0.566406,0.078125,0.402344,1.46875,0.1875,0.082031,0.0
15,SAKB4,18.0,70.0,28.0,697.00,18.69,3.87,22.765625,37.398438,0.980469,...,0.050781,0.179688,0.109375,0.480469,0.09375,0.367188,1.402344,0.25,0.085938,0.011719
16,SAKB5,18.0,70.0,28.0,697.00,18.69,3.87,20.855469,39.226562,0.925781,...,0.074219,0.222656,0.117188,0.488281,0.097656,0.449219,1.476562,0.191406,0.105469,0.015625
17,SAKB6,18.0,70.0,28.0,697.00,18.69,3.87,20.609375,40.238281,0.90625,...,0.070312,0.230469,0.09375,0.476562,0.09375,0.332031,1.53125,0.175781,0.109375,0.011719
18,SAPN1,23.0,70.0,25.0,450.00,50.87,4.41,19.800781,55.761719,1.136719,...,0.226562,0.058594,0.113281,0.042969,0.804688,0.457031,0.574219,0.097656,0.007812,0.15625
19,SAPN2,23.0,70.0,25.0,450.00,50.87,4.41,21.054688,54.222656,1.183594,...,0.226562,0.078125,0.085938,0.03125,0.75,0.441406,0.59375,0.105469,0.003906,0.109375

保存处理好的数据

In [47]:
sdf.to_csv('data_features_Classes.csv')

数据处理完成